<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro  '$(find dingo_description)/urdf/dingo.urdf.xacro'"/>

  <!-- The semantic description that corresponds to the URDF -->
  <!-- We have 2 versions, one for Dingo-D and one for Dingo-O, controlled by an envar -->
  <group if="$(optenv DINGO_OMNI 0)">
    <param name="$(arg robot_description)_semantic" textfile="$(find dingo_gen3_lite_moveit_config)/config/dingo_o.srdf" />
  </group>
  <group unless="$(optenv DINGO_OMNI 0)">
    <param name="$(arg robot_description)_semantic" textfile="$(find dingo_gen3_lite_moveit_config)/config/dingo_d.srdf" />
  </group>

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find dingo_gen3_lite_moveit_config)/config/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find dingo_gen3_lite_moveit_config)/config/kinematics.yaml"/>

  </group>

</launch>
